section.screen#main(style="background: url('../../i/screen/screen-1.jpg') center/cover no-repeat")
	.section_in 
		.hero
			.hero_content
				p.fz32 Обучающая студия маникюра
				h1 Маргариты Щербаковой
				.btn-group
					+btn({
						link: 'Записаться на услугу',
						mod: 'btn_border--big',
						menu: 'studio'
					})
					+btn({
						link: 'Записаться на обучение',
						mod: 'btn_border--big',
						menu: 'course'
					})
			.hero_quote “Вы создаете маникюр — я создаю мастера”