section.screen#about(style="background: url('../../i/screen/screen-2.jpg') center/cover no-repeat")
	.section_in 
		.education_content(data-aos="fade-down") 
			p.fz24.quote “Все мои ученики приступают к работе сразу после прохождения курсов...”
			b.fz20 Меня зовут Маргарита Щербакова, и я являюсь основателем студии маникюра и педикюра Kult Nails
			p.fz16 Первые ногти я начала делать в возрасте 13 лет. И вот уже более 13 лет я профессионально работаю в этой сфере. За это </br>время я научилась не только выполнять качественный маникюр, но и добилась определенного успеха в nail-сфере.
			b.fz20 Я являюсь многократным чемпионом региональных и международных чемпионатов:
			ul.arrow-list 
				each item in ['Победитель Краса Дона 2016 в номинации салонное моделирование френч, юниор', 'Первое место в международном конкурсе “Christmas Star”, номинация “Постер”', 'Первое место в конкурсе “Шарм 2021”, номинации “Стилет мастер”, “Салонное моделирование', 'Первое место в конкурсе “Краса Дона 2016”, Салонное моделирование. Френч, юниор', 'Первое место в конкурсе “Nail Olymp 2021”, номинация маникюр гель-лак']
					li
						.items.fz14=item 
			ul.year-list
				li 
					p.color-gradient.year 2022:
					ul.stadart-list
						each item in ['Участвовала в качестве приглашенного спикера на различных марафонах;', 'Получила лицензию на свои авторские курсы и могу присваивать профессию мастера маникюра;', 'За 2022 год я провела порядка 23 живых курсов.']
							li.fz16=item