section.screen#studio 
	.section_in 
		.studio_main 
			.studio_about(data-aos="fade-down") 
				h4.fz32 Студия маникюра
				.studio_about--action 
					p.fz24 Наша цель сделать для Вас это место особенным и любимым.
					+btn({
						link: 'Записаться',
						linkUrl: 'https://dikidi.net/473493?p=0.pi',
						mod: 'btn-fill',
						blank: '_blank'
					})
				p.fz16 В нашей студии самое современное оборудование для выполнения качественной услуги каждому клиенту. Наши клиенты, а так же ученики, доверяют нам, возвращаются вновь и вновь, становятся постоянными и приезжают с других городов. Индивидуальный подход гарантирует, что мы учтем все ваши пожелания. Мы работаем только на одноразовых расходных материалах и стерильных инструментах согласно требованиям СанПиН.
				.studio_about--img 
					img(src="i/studio.jpg", alt="")
			.studio_masters(data-aos="fade-down" data-aos-delay="250") 
				h4.fz32 Наши мастера
				ul.masters_list.vertical-scroll 
					-for(i = 0; i < 3; i++)
						- let name = ['Елена', 'Эльмира', 'Анастасия', 'Анна']
						- let txt = ['Мастер педикюра и маникюра. Опыт работы в ногтевой сфере 5 лет.  Имеет базовое образование подолога, что позволяет не только выполнять эстетический педикюр, но и корректировать небольшие проблемы на ножках.  Мастер Елена выполнит любую процедуру аккуратно и бережно даже на самых чувствительных клиентах.', 'Эльмира является мастером, в совершенстве владеющим аппаратом. Прошла базовые программы и курсы повышения в рамках студии. Выполняет однотонные покрытия и чистый маникюр. Опыт работы 1 год.', 'Анастасия является мастером маникюра, который успешно прошел базовую программу по маникюру в рамках студии. Успешно прошла стажировку и зарекомендовала себя, как ответственный и внимательный к клиенту мастер.  Выполняет следующие услуги:</br></br>Комбинированный/аппаратный маникюр; укрепление/выравнивание ногтевой пластины; ремонт и донаращивание сломанных ногтей; укрепление гелем; дизайн ногтей, французский маникюр; наращивание ногтей любой длины и сложности.', 'Мастер педикюра и маникюра. Опыт работы в ногтевой сфере 5 лет.  Имеет базовое образование подолога, что позволяет не только выполнять эстетический педикюр, но и корректировать небольшие проблемы на ножках.  Мастер Елена выполнит любую процедуру аккуратно и бережно даже на самых чувствительных клиентах.']
							li.masters_item 
								.masters_item--img 
									img(src=`i/masters/master-${i}.jpg`, alt="")
								.masters_item--content 
									p.fz20=name[i]
									span.fz16!=txt[i]