.header {
	position: absolute;
	top: 0;
	left: 0;
	height: $header;
	width: 100%;
	will-change: transform;
	@include z-index(header);

	@include bp($point_2) {
		height: $header_mob;
	}
}

.header {
}
.section_in {
}
.header_main {
	padding: 1.5rem 0 2.2rem 0;
	@include bp($point_2) {
		padding: 2rem 0
	}
}
.header_top {
	@include flex-space;
	margin-bottom: 3.6rem;
	@include bp($point_2) {
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		border-bottom: .1rem solid #00000027;
	}
}
.logo {
	margin-right: 7rem;
	a {
		@include flex-start;

		img {
			&:first-child {
				margin-right: 1.2rem;
				max-width: 5.2rem;
			}
		}
	}
}
.search-input {
	position: relative;
	max-width: 45.2rem;
	width: 100%;
	margin-right: 8rem;

	@include bp($point_2) {
		display: none
	}
	input {
		@include app;
		border: .1rem solid $light-gray;
		padding: 1.1rem 2rem;
		border-radius: $rounded-sm;
		transition: all .3s ease;
		width: 100%;
		&:focus {
			border-color: $light-green;
		}
	}




	button {
		position: absolute;
		top: 50%;
		right: 2rem;
		font-size: $md;
		transform: translateY(-50%);
		@include flex-center;
		color: $light-gray;
		transition: all .3s ease;
		&:hover {
			color: $dark;
		}
	}
}
.icons {
}
.heroicons:magnifying-glass-solid {
}
.iconify {
}
.top-menu {
	margin-right: 9rem;
	@include bp($point_2) {
		display: none;
	}
}
.top_menu--label {

	position: relative;
	padding-right: 2.4rem;
	cursor: pointer;
	transition: all .3s ease;

	&.active {
		color: $green;
		&:after {
			top: 75%;
			transform: translateY(-56%) rotate(90deg);
		}
	}
	&:hover {
		color: $green;
	}
	&:after {
		content: url('https://api.iconify.design/material-symbols/arrow-back-ios-rounded.svg?color=%238faa1a');
		position: absolute;
		top: 43%;
		right: 0;
		line-height: 0;
		height: 1.1rem;
		width: .7rem;
		transform: translateY(-56%) rotate(-90deg);
		@include flex-center;
	}
}
.phone {
	margin-right: 10rem;
	@include bp($point_2) {
		margin-right: 5rem;
	}
	a {
		@include flex-start;
		color: $dark;

		.icons {
			display: block;
			margin-right: 1.2rem;
			width: 2rem;
			height: 2.1rem;
			font-size: $md;
		}
	}
}
.ph:phone-light {
}
.header-cart {
	max-width: 12.6rem;
	@include bp($point_2) {
		margin-right: 2rem;
	}
	a {
		@include flex-start;
		color: $medium-gray;
		font-size: $sm;
	}

	.icons {
		min-width: 4.7rem;
		width: 4.7rem;
		height: 4.7rem;
		@include flex-center;
		border: .1rem solid $light-gray;
		border-radius: 100%;
		color: $green;
		margin-right: 1.5rem;
		svg {
			font-size: $md;
		}
	}
}
.solar:cart--outline {
}
.header-cart--total {
}
.header-bottom {
	@include flex-start;
	position: relative;
	@include bp($point_2) {
		justify-content: space-between
	}
}
.header_shop {
	@include flex-start;
	background-color:$green;
	border-radius: $rounded-sm;
	padding: 1.2rem 5.7rem 1.2rem 2rem;
	color: $white;
	position: relative;
	margin-right: 7rem;
	cursor: pointer;


	&.active {
		.icon-arrow {
			transform: rotate(-270deg) translateY(-50%);
			top: 40%;
		}
	}
	.header-burger {
		margin-right: 1.5rem;
		width: 2.4rem;
		height: 2.4rem;
		@include flex-center;
		font-size: $xl-2;
	}
	.icon-arrow {
		position: absolute;
		top: 55%;
		right: 2.5rem;
		transform: translateY(-50%) rotate(-90deg);
		height: 1.1rem;
		width: .7rem;
		font-size: $sm;
	}

}
.shop-menu {
	position: absolute;
	top: calc(100% + 1.5rem);
	left: 0;
	background-color:$white;
	padding: 4rem;
	min-width: 60rem;
	border-radius: 1rem;
	box-shadow: 0 .4rem 2rem 0 rgba(44, 44, 44, 0.20);
	transition: all .3s ease;
	transform: translateY(5rem);
	opacity: 0;
	visibility: hidden;
	&.active {
		opacity: 1;
		visibility: visible;
		transform: translate(0);
	}
	ul {
		max-height: 38rem;
		@include flex-start;
		flex-direction: column;
		flex-wrap: wrap;
		margin: -1.5rem -5rem 0 0;
		li {
			width: 33%;
			padding: 1.5rem 5rem 0 0;
			a {
				color: $dark;
				&:hover {
					color: $green
				}
			}
		}
	}
}
.header-nav {
	@include bp($point_2) {
		display: none
	}

	ul {
		@include flex-start;

		li {
			a {
				color: $dark;
				font-family: $font_2;
				&:hover, &.current-page-item {
					color: $green;
				}
			}
			&:not(:last-child) {
				margin-right: 7.1rem;
			}
		}
	}
}

.top-menu {
	position: relative;
	.menu-expand {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: calc(100% + 1.5rem);
		transform: translateY(3rem);
		border-radius: 1rem;
		background: #FFF;
		box-shadow: 0px .4rem 2rem 0 rgba(44, 44, 44, 0.20);
		padding: 2rem;
		z-index: 98;
		min-width: 22.2rem;
		transition: all .3s ease;
		li {
			&:not(:last-child) {
				margin-bottom: 1.5rem;
			}
		}
		a {
			color: $dark;
			&:hover {
				color: $green;
			}
		}
		&.active {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
	}
}

.burger-trigger {
	display: none;
	position: relative;
	width: 5rem;
	height: 3rem;
	@include bp($point_2) {
		display: block;
	}

	span {
		position: absolute;
		width: 100%;
		display: block;
		border-bottom: .4rem solid $dark;
		right: 0;
		&:nth-child(1) {
			top: 0;
		}
		&:nth-child(2) {
			top: 50%;
			transform: translateY(-50%);
			max-width: 60%;
		}
		&:nth-child(3) {
			bottom: 0;
			max-width: 80%;
		}
	}
}