.home-blog_list {
	li {
		&:not(:last-child) {
			margin-bottom: 5rem;
			@include bp($point_2) {
				margin-bottom: 3rem;
			}
		}
	}
}
.post {
	border-bottom: .1rem solid $light-gray;
	padding-bottom: 5rem;
	@include bp($point_2) {
		padding-bottom: 3rem;
	}
	a {
		@include flex-start;
		@include bp($point_2) {
			align-items: flex-start;
		}
		@include bp($point_5) {
			flex-direction: column;
		}

		.post-img {
			max-width: 36.1rem;
			width: 100%;
			border-radius: 1.5rem;
			overflow: hidden;
			height: 21.9rem;
			margin-right: 4rem;

			@include bp($point_5) {
				margin: 0 0 3rem 0;
			}
			img {
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

.post-content {
	max-width: 119rem;
	color: $dark;
	@include bp($point_2) {
		max-width: 50%;
	}
	@include bp($point_5) {
		max-width: 100%;
	}
	h3 {
		font-size: $xl;
		font-family: $font_1;
		margin: 1.5rem 0 2.5rem 0;
		@include bp($point_2) {
			font-size: $md;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			line-height: 2.4rem;
			max-height: 7rem;
		}

		@include bp($point_5) {
			font-size: 1.8rem;
			margin: 1rem 0
		}
	}
}

.post-date {
	@include flex-start;
	color: $gray;
	font-size: $sm;

	.icons {
		margin-right: 0.8rem;
		font-size: 1.4rem;
		@include flex-center;
	}
}

.post-excerpt {
	color: $gray;
	@include bp($point_2) {
		font-size: $sm;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
		line-height: 1.8rem;
		max-height: 9rem;
	}
	@include bp($point_5) {
		display: none;
	}
}