.section-title {
}

.section-head {
	margin-bottom: 5rem;
	@include flex-space;
	@include bp($point_2) {
		margin-bottom: 3.5rem;
	}
	@include bp($point_5) {
		margin-bottom: 2.5rem;
		flex-direction: column;
		align-items: flex-start;
	}
}

.section_head--link {
	a {
		@include flex-start;
		font-size: $md;
		font-family: $font_2;
		transition: all .3s ease;
		&:hover {
			color: $gray;
		}
		p {
			margin-right: 1rem;
		}
		.icons {
			transform: rotate(-180deg);
			font-size: 1.4rem;
		}

	}
}

.section_head--link {
	@include bp($point_5) {
		padding-top: 1rem;
	}
	.icons {
		@include bp($point_5) {
			display: none;
		}
	}
	p {
		@include bp($point_5) {
			font-size: $sm;
		}
	}
}