.article-hero {
	@include flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.article-head {
	max-width: 90rem;
	width: 100%;

	h1 {
		@include bp($point_2) {
			font-size: $xl-2;
			margin-bottom: 3rem;
		}
	}
}

.quote-txt {
	width: 100%;
	flex: 1;
	font-size: $xl;
}

.article-img {
	margin-right: 5rem;
	border-radius: 1.5rem;
	overflow: hidden;
	max-width: 53rem;
	margin-bottom: 10rem;
	@include bp($point_2) {
		margin: 0 0 3rem 0;
	}
}

.article-time {
	@include flex-start;
	color: $gray;
	margin-bottom: 1.7rem;
	.icons  {
		margin-right: 0.7rem;
		width: 1.7rem;
		height: 1.7rem;
		@include flex-center;
	}
}

.article-hero {
	margin-bottom: 10rem;
	@include bp($point_2) {
		margin-bottom: 6rem;
	}
}



.article-content {
	margin-bottom: 10rem;
	img {
		margin: 5rem 0;
		width: auto;
		border-radius: 1.5rem;
		overflow: hidden;
		@include bp($point_2) {
			margin: 1.5rem 0;
		}
	}

	h2, h3, h4, h5, h6 {
		padding: 5rem 0 1.5rem 0;
		@include bp($point_2) {
			padding: 3rem 0 1.5rem 0;
		}
	}



	p {
		padding: 1.5rem 0;
	}
}

.article-reco {
	&>h2, &>h3, &>h4, &>h5, &>h6 {
		margin-bottom: 5rem;
		@include bp($point_2) {
			margin-bottom: 3.5rem;
		}
	}
	.home-blog_list {
		margin-bottom: 8rem;
		@include bp($point_2) {
			margin-bottom: 6rem;
		}
	}
}