img {
	width: 100%;
	height: auto;
	object-fit: contain;
	display: block;
}

h1 {
	font-family: $font_3;
}


.global_txt {
	p, ul, ol, span {
		@include bp($point_2) {
			font-size: 1.6rem;
		}
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
	li {
		@include bp($point_2) {
			font-size: 1.4rem;
		}
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
		padding-left: 1rem;
		position: relative;
		&:before {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			content: '-';
		}
	}
}


