.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-close {
	font-size:calc(25/10)*1rem;
	width:calc(25/25)*1em;
}
.icon-phone {
	font-size:calc(25/10)*1rem;
	width:calc(25/25)*1em;
}
.icon-slider-nav {
	font-size:calc(16/10)*1rem;
	width:calc(10/16)*1em;
}
.icon-wa {
	font-size:calc(28/10)*1rem;
	width:calc(28/28)*1em;
}
