.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-call {
	font-size:calc(28/10)*1rem;
	width:calc(28/28)*1em;
}
.icon-close {
	font-size:calc(18/10)*1rem;
	width:calc(18/18)*1em;
}
.icon-in {
	font-size:calc(32/10)*1rem;
	width:calc(32/32)*1em;
}
.icon-mail {
	font-size:calc(18/10)*1rem;
	width:calc(22/18)*1em;
}
.icon-map {
	font-size:calc(22/10)*1rem;
	width:calc(16/22)*1em;
}
.icon-tel {
	font-size:calc(20/10)*1rem;
	width:calc(20/20)*1em;
}
.icon-time {
	font-size:calc(18/10)*1rem;
	width:calc(18/18)*1em;
}
.icon-vk {
	font-size:calc(30/10)*1rem;
	width:calc(30/30)*1em;
}
.icon-wa {
	font-size:calc(30/10)*1rem;
	width:calc(31/30)*1em;
}
