header.header 
	.section_in 
		.header_main
			.header_top 
				.logo 
					a(href="#")
						img(src="i/svg/logo.svg", alt="")
						img(src="i/svg/txt-logo.svg", alt="")
				.search-input 
					input(type="search" placeholder="Поиск")
					button(type="submit") 
						+iconify({
							icon: 'heroicons:magnifying-glass-solid'
						})
				.top-menu
					.top_menu--label.btn-expand Заказ растений
					ul.menu-expand
						each item in ['Заказ растений', 'Реквизиты', 'Прайс-лист', 'Как заказать', 'Статьи']
							li
								a(href="#")=item
				.phone 
					a(href="#")
						+iconify({
							icon: 'ph:phone-light'
						})
						p +7 000 000 00 00
				.header-cart
					a(href="#")
						+iconify({
							icon: 'solar:cart-5-outline'
						})
						.header-cart--total#header-total(data-count="1")
							p Корзина пуста
				.burger-trigger.trigger(data-target="burger")
					span 
					span 
					span 
			.header-bottom 
				.header_shop.btn-expand
					.header-burger
						+iconify({
							icon: 'gg:menu-right-alt'
						})
					p Каталог растений
					.icon-arrow 
						+iconify({
							icon: 'material-symbols:arrow-back-ios-rounded'
						})
				.shop-menu.menu-expand 
					nav
						ul 
							each item in ['Картофель', 'Малина', 'Ежевика', 'Голубика', 'Смородина', 'Земляника', 'Черника', 'Жимолость', 'Гейхера', 'Клюква', 'Цитрусовые', 'Гвоздика', 'Гортензия', 'Роза Горшечная', 'Бегония', 'Ирга', 'Брусника', 'Барбарис', 'Боярышник', 'Вереск']
								li 
									a(href="#")=item 
				.burger-trigger.trigger(data-target="burger")
					span 
					span 
					span 
				nav.header-nav 
					ul 
						each item in ['Картофель', 'Малина', 'Ежевика', 'Голубика', 'Смородина', 'Земляника', 'Черника', 'Жимолость']
							li 
								a(href="#")=item
				
				

				