extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'HOME'}
block content_block
	include blocks/screen-1
	include blocks/screen-2
	include blocks/screen-3
	include blocks/screen-4
	include blocks/screen-5
	include blocks/screen-6
	